* {
    margin: 0;
    padding: 0;
}

.footer {
    font-size: 10px;
    text-align: center;
    background-color: #ee5301;
    margin: 0px;
}

.title {
    text-align: center;
    font-size: 30px;
    font-family: helvetica;
    color: white;
    margin: 0px;
}

.logo {
    margin: 0px;
    padding: 10px;
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
}

.logo-header {
    background-color: black;
    padding: 0px;
}

.awards {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img {
        margin-left: 75px;
        margin-right: 75px;
}
}

#atmosphere {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0px;
    img {
        width: 100%;
        vertical-align: middle;
        margin: 0px;
        padding: 0px;
}
}

.chef {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#employees {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    img {
        width: 100%;
        vertical-align: middle;
  }
}

#michelangelo {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    img {
        width: 100%;
        vertical-align: middle;
        padding: 0px;
        margin: 0px;
}
}

.navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    background-color: black;
    font-size: 40px;
    text-align: center;
    font-family: helvetica;
    margin: 0px;
    z-index: 2;
    padding: 0px;
    .address {
        background-color: #ee5301;
        font-family: helvetica;
        padding: 7px;
        font-size: 35px;
        text-align: center;
        margin: 0px;
        padding: 7px;
        width: 100%;
        color: black;
        }
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

main {
    h1 {
    text-align: center;
}
}

#vidloop {
    position: relative;
    bottom: 10px;
    z-index: -1;
}

.contact {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0px;
    font-family: helvetica;
    float: left;
    width: 55%;
}

#map {
    overflow:hidden;
    max-width:600px;
    height: 500px;
    float: right;
    width: 100%
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.about-text {
    font-size: 30px;
    color: white;
    font-family: helvetica;
    padding: 30px 150px;
    line-height: 1.4;
}

@media (max-width: 600px) {
    #vidloop {
        display: none;
}
}

@media (min-width: 600px) {
    .mobile-call {
        display: none;
        color: black;
}
}

@media (max-width: 600px) {
    .mobile-call1 {
        color: black;
        display: none;
}
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 50px;
  background-color: #black;
  color: #444;
  position: relative;
  left: 185px;
  width: 1000px;
  margin: 0px;
}

.box {
  background-color: #black;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.menu-cat {
    font-family: cursive;
    font-size: 35px;
}

.menu-item {
    font-family: helvetica;
    font-size: 20px;
}

.ingredients {
    font-size: 15px;
}

.border {
    border-style: solid;
    border-width: medium;
    border-radius: 8px;
    padding: 10px;
}

.nobull {
    list-style-type: none;
}

.menu-background {
    background-color: black;
    z-index: -2;
}

#menu-picture {
    width: 250px;
}

.active {
    color: #ee5301;
}

#yelp {
    width: 40px;
    padding-right: 10px;
}

.bootstrap-fix {
    margin: 0px;
}

@media (max-width: 600px) {
    .navbar {
        position: sticky;
        top: 0px;
        left: 0px;
        background-color: black;
        font-size: 20px;
        text-align: center;
        font-family: helvetica;
        margin: 0px;
        z-index: 2;
        padding: 0px;
        .address {
            background-color: #ee5301;
            font-family: helvetica;
            padding: 7px;
            font-size: 15px;
            text-align: center;
            margin: 0px;
            padding: 7px;
            width: 100%;
            color: black;
            }
    }
}

@media (max-width: 600px) {
    .about-text {
        font-size: 15px;
        color: white;
        font-family: helvetica;
        padding: 10px 15px;
        line-height: 1.4;
    }
}

@media (max-width: 600px) {
    .contact {
        position: relative;
        text-align: center;
        background-color: black;
        color: white;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px;
        font-family: helvetica;
        float: left;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .awards {
        display: none;
    }
}

@media (min-width: 600px) {
    .awards-1 {
        display: none;
    }
}

#mob-awards {
    width: 100%;
}

@media (max-width: 600px) {
    .wrapper {
      display: none;
    }
}

@media (min-width: 600px) {
    .mobile-menu {
      display: none;
    }
}

.cursive {
    font-family: cursive;
}

.jump-link {
    text-align: center;
    font-size: 20px;
}

@media (min-width: 600px) {
.mobile-nav {
    display: none;
    }
}

.background {
    background-color: black;
}
